.CyberGlyph {
  z-index: 0;
}

.CyberGlyphActive {
  pointer-events: none;
  opacity: 0.8;
  animation: jitter 0.2s infinite;
}

@keyframes jitter {
  0% {
    clip-path: inset(10% 0 80% 0);
    transform: translateX(-5px);
  }
  50% {
    clip-path: inset(50% 0 20% 0);
    transform: translateX(5px);
  }
  100% {
    clip-path: inset(10% 0 80% 0);
    transform: translateX(-5px);
  }
}

@keyframes Flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
  }
  20%,
  24%,
  55% {
    opacity: 0.4;
  }
}

.AnimateFlicker {
  animation: Flicker 8s linear infinite;
}

@keyframes Scale {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.AnimateInfiniteScale {
  animation: Scale 4s linear infinite;
}

.FracturedRune {
  color: transparent;
  position: relative;
  display: inline;
  --charDelay: 40ms;
}

.FracturedRune::before {
  content: attr(fracture);
  color: white;
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
}

@keyframes Unveil {
  to {
    color: white;
  }
}

@keyframes Veil {
  to {
    color: transparent;
  }
}

@keyframes FractureBurst {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes InversedFractureBurst {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.FractureRitual .FracturedRune {
  animation:
    Unveil 100ms ease forwards,
    Veil 100ms ease forwards;
  animation-delay:
    calc((1 + var(--i)) * var(--charDelay)),
    calc((var(--ri) * var(--charDelay)) + 3000ms);
}

.FractureRitual .FracturedRune::before {
  animation:
    FractureBurst 100ms ease forwards,
    InversedFractureBurst 100ms ease forwards;
  animation-delay:
    calc(var(--i) * var(--charDelay)),
    calc(((var(--ri) + 1) * var(--charDelay)) + 3000ms);
}
